.about {
  padding: 50px;

  @include respond(phone) {
    padding: 30px 5px;
  }

  &__cart {
    &-container {
      margin-top: 40px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      @include respond(tab-port) {
        gap: 5rem;
      }
    }
    background-color: $white;
    border: 1px solid #dedede;
    text-align: center;
    padding: 20px 10px;
    border-radius: 15px;
    min-width: 20rem;

    &:hover {
      box-shadow: 9px 10px 20px #00000021;
    }
  }

  &-text {
    font-size: 1.6rem;
  }
}
