.hero {
  padding-top: 20px;
  background-color: $blue-background;
  color: $white;

  &__navigation {
    &-item {
      position: relative;
      &:hover {
        cursor: pointer;
        &::after {
          content: "";
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: $white;
          position: absolute;
          top: 100%;
          left: 50%;
        }
      }
    }
  }

  &__content {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    @include respond(phone) {
      flex-wrap: wrap;
      gap: 5rem;
      padding: 80px 20px;
      max-width: max-content;
      // margin: 0;
    }
  }

  &-btn {
    padding: 2px;
    color: $blue-background;
    border-radius: 5px;
    border: none;
    background-color: $white;
    text-decoration: none;
    font-size: 1.2rem;

    &-box {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;
    }
  }

  &__api-box {
    display: flex;
    gap: 3rem;
  }

  &__api-number {
    position: relative;
    &:not(:last-child) {
      &::after {
        content: "";
        height: 2rem;
        width: 0.1rem;
        background-color: $white;
        position: absolute;
        top: 0.5rem;
        right: -1.5rem;
      }
    }
  }

  &-img {
    max-width: 60%;
    @include respond(phone) {
      max-width: 80%;
    }
    // transition: all linear;
    animation: hero-img 0.6s ease-in-out alternate;
  }
}
