.carousel {
  max-width: 90%;
  overflow-x: scroll;
  display: flex;
  gap: 2.4rem;
  scroll-behavior: smooth;
  margin: 0 auto;
  margin-bottom: 4rem;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  &__btn {
    background: none;
    font-size: 2rem;

    &--left {
      padding-left: 20px;
    }
    &--right {
      padding-right: 20px;
    }
  }

  @include respond(phone) {
    padding: 0 20px;
    margin: 0;
  }
}

.container {
  display: flex;
  align-items: center;
}
