@keyframes hero-img {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes heading {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }

  80% {
    opacity: 0.5;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cart-animation {
  0% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes about-cart {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
