// color-variables
$white: #fff;
$color-grey: #999;
$color-grey-1: #777;
$color-grey-2: #555;
$black: #000;

$head-background: #f3f3f3;
$text: #575757;
$blue-background: #4769f1;

$footer-top: #2a2a2a;
$footer: #0c0c0c;
$green: #81bc06;
$yellow: #f5c544;
$orange: #ed7630;

$default-font: 1.6rem;
